Publicação
<div>
    <div>Status: <%= publication.status %></div>
    <div>Tipo: <%= publication.subtype %></div>
    <div>Título: <%= publication.title %></div>
    
    <% if publication.authors && publication.authors.count > 0 %>
        <div>
            <div>Autores</div>
            <div>
                <% publication.authors.each do |author| %>
                    <div><%= author.name %></div>
                <% end %>
            </div>
        </div>
    <% end %>
    <% unless publication.text.blank? %><div>Descrição: <%= publication.text %></div><% end %>
    <% unless publication.language.blank? %><div>Língua: <%= publication.language %></div><% end %>
    <% unless publication.link.blank? %><div>Link para o manuscrito: <a href="<%= publication.link %>">clique aqui</a></div><% end %>
    <% unless publication.doi.blank? %><div>DOI: <%= publication.doi %></div><% end %>
    <% unless publication.bibtex.blank? %><div>Bibtex: <%= publication.bibtex %></div><% end %>
</div>
