<% provide(:title, 'Lista de usu치rios') %>

<h1>Usu치rios</h1>

<%= form_tag users_path, :method => 'get' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Filtrar", class: "btn bt-buscar-users", :name => nil %>
    </p>
<% end %>

<%= will_paginate previous_label: 'Anterior', next_label: 'Pr칩ximo' %>

<ul class="users">
	<% # a linha abaixo eh o mesmo que: @users.each do |user| %>
	<% # O rails jah sabe que ao chamar a linha abaixo, por ela ser um array,  %>
	<% # ele tem que procurar pela partial chamada _user %>
	<%= render @users %>
</ul>

<%= will_paginate previous_label: 'Anterior', next_label: 'Pr칩ximo' %>
