<% provide(:title, @user.name) %>

<aside>
    <section>
        <h1><%= @user.name %></h1> 
    </section>

    <section>
        <%= render 'user_info' %>
        <% if current_user?(@user) %>
            <div><%= link_to "Editar", edit_user_path(@user) %></div>
        <% end %>
    </section>

    <section>
        <%= render 'shared/stats' %>
    </section>
</aside>

<div>
    <%= render 'follow_form' if signed_in? %>
</div>
