<li id="<%= feed_item.id %>">
	<span class="user">
        <%= link_to feed_item.user.name, feed_item.user %>
	</span>
    <span><%= render feed_item %></span>
	<span class="timestamp">
    <%= post_time_format(feed_item.created_at) %>
    </span>
    <div><%= render 'shared/give_kudo', input: feed_item %></div>
    <% if current_user.id == feed_item.user.id %>
        <div><%= link_to "X", feed_item, method: :delete, data: {confirm: "Você tem certeza que deseja excluir este post?"} %></div>
    <% end %>
</li>
