Evento
<div>
    <div><%= event_participation.event_type %>:</div>
    <div><%= event_participation.title %></div>
    <div>Tipo de participação: <%= event_participation.subtype %></div>

    <% unless event_participation.city.blank? %><div>Cidade: <%= event_participation.city %></div><% end %>
    <% unless event_participation.country.blank? %><div>País: <%= event_participation.country %></div><% end %>
    <% unless event_participation.date.blank? %><div>Em: <%= event_participation.date %></div><% end %>
</div>
